{% extends 'base.html' %}

{% block content %}

<a href="{% url 'author-create' %}">Author Create</a>
<br>

<table border="1">
        <tr>
            <th>№</th>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Country</th>
            <th>Gender</th>
            <th>Native language</th>
            <th>Date of birth</th>
            <th>Date of death</th>
            <th></th>
        </tr>

        {% for author in author_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
                <td>{{ author.country }}</td>
                <td>{{ author.gender }}</td>
                <td>{{ author.native_language }}</td>
                <td>{{ author.date_of_birth }}</td>
                <td>{{ author.date_of_death }}</td>
                <td><a href="{% url 'author-update' author.pk %}">
                    Edit</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}