version: "3.8"

services:
  memcached:
    image: memcached:latest
    container_name: "memcached"

  db:
    image: postgres:12.3-alpine
    restart: always
    container_name: "db"
    env_file:
      - .env
#    environment:
#      - POSTGRES_USER=mailler
#      - POSTGRES_DB=mailler
#      - POSTGRES_PASSWORD=few6FGweu4762qa345g5efsaOPqdwr
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    image: nginx:1.19
    container_name: "web"
    volumes:
      - "./default.conf:/etc/nginx/conf.d/default.conf"
    ports:
      - "81:81"
      - "443:443"

  broker:
    image: rabbitmq:3-management
    container_name: "broker"
    env_file:
      - .env

  backend:
    image: local:0.0.1
    restart: always
    container_name: "backend"
    env_file:
      - .env

  worker:
    image: local:0.0.1
    restart: always
    container_name: "worker"
    env_file:
      - .env
    environment:
      - MODE=worker

#  celerybeat:
#    image: local:0.0.1
#    restart: always
#    container_name: "celerybeat"
#    env_file:
#      - .env
#    environment:
#      - MODE=celerybeat

#  pgadmin4:
#    image: dpage/pgadmin4
#    restart: always
#    container_name: "pgadmin4"
#    ports:
#      -"5050:5050"
#    env_file:
#      - .env

volumes:
  db_data: {}