{% extends 'base.html' %}

{% block content%}

<h1>My Profile</h1>

<img class="rounded-circle"
             width="150" height="150"
             src="{{ request.user.avatar.url }}"
             data-holder-rendered="true">
<br><br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

{% if form.instance.id %}
    <a href="{% url 'books:delete' form.instance.id %}">DELETE</a>
{% endif%}

{% endblock content%}
