{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content%}
<div class="row">
            <div class="col-4">
                <h1>{{ message }}</h1>

                <p class="h4">Form to add new author</p>

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                <br>
                {% if form.instance.id and request.user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'books:author-delete' form.instance.id %}">
                        DELETE</a>
                {% endif%}
            </div>
</div>
{% endblock content%}