{% extends 'base.html' %}

{% block content %}

<a href="{% url 'books:download-csv' %}">Download CSV</a>
<a href="{% url 'books:download-xlsx' %}">Download XLSX</a>

<table border="1">
        <tr>
            <th>№</th>
            <th>ID</th>
            <th>Author Name</th>
            <th>Title</th>
            <th>Publish Year</th>
            <th>Review</th>
            <th>Condition</th>
            <th>Category</th>
        </tr>

        {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object.id }}</td>
                <td>
                    {{ object.author.first_name }}
                    {{ object.author.last_name }}
                </td>
                <td>{{ object.title }}</td>
                <td>{{ object.publish_year }}</td>
                <td>{{ object.review }}</td>
                <td>{{ object.condition }}</td>
                <td>{{ object.category }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}
